<?xml version="1.0" encoding="utf-8"?>
<Options>
	<Player Name="Gott" SkinIndex="0"/>
	<Window X="800" Y="600" Index="0"/>
	<Aliasing Stufe="10"/>
	<RankingPlace PlaceOne="Gott" PlaceTwo="Gott" PlaceThree="Gott" PlaceFour="Dönermann" PlaceFive="Mr.Sinister" PlaceSix="AFKBoy" PlaceSeven="SevenEleven" PlaceEight="Gott" PlaceNine="Gott" PlaceTen="TenforMan"/>
	<RankingTime TimeOne="30" TimeTwo="32" TimeThree="35" TimeFour="43" TimeFive="48" TimeSix="52" TimeSeven="53" TimeEight="56" TimeNine="60" TimeTen="80.00"/>
	<Schwierigkeit Auswahl="Schwer" Index="2"/>
	<Music An="Aus"/>
	<Steuerung Maus="Tastatur"/>
</Options>

